# Generated with protoc-gen-openapi
# https://github.com/google/gnostic/tree/master/cmd/protoc-gen-openapi

openapi: 3.0.3
info:
    title: AssetService API
    version: 0.0.1
servers:
    - url: https://api.velony.app
paths:
    /v1/images:
        post:
            tags:
                - AssetService
            operationId: AssetService_CreateImage
            requestBody:
                content:
                    application/json:
                        schema:
                            $ref: '#/components/schemas/velony.asset.api.v1.Image'
                required: true
            responses:
                "200":
                    description: OK
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/velony.asset.api.v1.Image'
    /v1/images/{image}:
        get:
            tags:
                - AssetService
            operationId: AssetService_GetImage
            parameters:
                - name: image
                  in: path
                  description: The image id.
                  required: true
                  schema:
                    type: string
            responses:
                "200":
                    description: OK
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/velony.asset.api.v1.Image'
        delete:
            tags:
                - AssetService
            operationId: AssetService_DeleteImage
            parameters:
                - name: image
                  in: path
                  description: The image id.
                  required: true
                  schema:
                    type: string
            responses:
                "200":
                    description: OK
                    content: {}
    /v1/images/{image}:presign:
        post:
            tags:
                - AssetService
            operationId: AssetService_PresignImage
            parameters:
                - name: image
                  in: path
                  description: The image id.
                  required: true
                  schema:
                    type: string
            requestBody:
                content:
                    application/json:
                        schema:
                            $ref: '#/components/schemas/velony.asset.api.v1.PresignImageRequest'
                required: true
            responses:
                "200":
                    description: OK
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/velony.asset.api.v1.PresignImageResponse'
    /v1/images/{image}:process:
        post:
            tags:
                - AssetService
            operationId: AssetService_ProcessImage
            parameters:
                - name: image
                  in: path
                  description: The image id.
                  required: true
                  schema:
                    type: string
            requestBody:
                content:
                    application/json:
                        schema:
                            $ref: '#/components/schemas/velony.asset.api.v1.ProcessImageRequest'
                required: true
            responses:
                "200":
                    description: OK
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/velony.asset.api.v1.ProcessImageResponse'
    /v1/images/{image}:reconcile:
        post:
            tags:
                - AssetService
            operationId: AssetService_ReconcileImage
            parameters:
                - name: image
                  in: path
                  description: The image id.
                  required: true
                  schema:
                    type: string
            requestBody:
                content:
                    application/json:
                        schema:
                            $ref: '#/components/schemas/velony.asset.api.v1.ReconcileImageRequest'
                required: true
            responses:
                "200":
                    description: OK
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/velony.asset.api.v1.ReconcileImageResponse'
components:
    schemas:
        velony.asset.api.v1.Image:
            required:
                - tags
                - objectKey
            type: object
            properties:
                name:
                    type: string
                tags:
                    type: array
                    items:
                        type: string
                objectKey:
                    type: string
                objectExists:
                    readOnly: true
                    type: boolean
                createTime:
                    readOnly: true
                    type: string
                    format: date-time
        velony.asset.api.v1.ImageEncoding:
            type: object
            properties:
                format:
                    type: integer
                    format: enum
                quality:
                    type: integer
                    format: uint32
        velony.asset.api.v1.ImageResize:
            type: object
            properties:
                width:
                    type: integer
                    format: uint32
                height:
                    type: integer
                    format: uint32
                fit:
                    type: integer
                    format: enum
                gravity:
                    type: integer
                    format: enum
                backgroundColor:
                    type: string
                allowUpscale:
                    type: boolean
        velony.asset.api.v1.PresignImageRequest:
            required:
                - name
                - ttl
            type: object
            properties:
                name:
                    type: string
                ttl:
                    pattern: ^-?(?:0|[1-9][0-9]{0,11})(?:\.[0-9]{1,9})?s$
                    type: string
        velony.asset.api.v1.PresignImageResponse:
            type: object
            properties:
                uploadUrl:
                    type: string
        velony.asset.api.v1.ProcessImageRequest:
            required:
                - name
            type: object
            properties:
                name:
                    type: string
                resize:
                    $ref: '#/components/schemas/velony.asset.api.v1.ImageResize'
                encoding:
                    $ref: '#/components/schemas/velony.asset.api.v1.ImageEncoding'
                autoRotate:
                    type: boolean
                removeMetadata:
                    type: boolean
        velony.asset.api.v1.ProcessImageResponse:
            type: object
            properties: {}
        velony.asset.api.v1.ReconcileImageRequest:
            required:
                - name
            type: object
            properties:
                name:
                    type: string
        velony.asset.api.v1.ReconcileImageResponse:
            type: object
            properties:
                image:
                    $ref: '#/components/schemas/velony.asset.api.v1.Image'
tags:
    - name: AssetService
